<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <wicket:head>
        <link rel="stylesheet" lang="text/css" href="/css/EPlanManager.css"/>
        <link rel="stylesheet" lang="text/css" href="/css/ng-grid.css"/>
        <script src="/js/angular.min.js" language="JavaScript"></script>
        <script src="/js/ng-grid.js" language="JavaScript"></script>
        <script src="/js/Utils.js" language="JavaScript"></script>
        <script src="/js/DataSources.js" language="JavaScript"></script>
        <script src="/js/EPlanManager.js" language="JavaScript"></script>
    </wicket:head>
</head>
<body>
    <wicket:panel>
        <div ng-app="EPlanManager" ng-controller="EPlanController">
            <div class="list_ePlans">
                <h4>Учебные планы</h4>
                <div>
                    <label for="speciality">Специальность: </label><input type="number" id="speciality" ng-model="newEPlan.speciality"/>
                    <label for="yearBegin">Год начала обучения: </label><input type="number" id="yearBegin" ng-model="newEPlan.yearBegin"/>
                    <label for="yearEnd">Год окончания обучения: </label><input type="number" id="yearEnd" ng-model="newEPlan.yearEnd"/>
                </div>
                <button class="btn" ng-click="addEPlan()">Добавить учебный план</button>
                <button class="btn" ng-click="deleteEPlan()">Удалить выбранный учебный план</button>
                <div class="ePlanGrid" ui-grid="ePlanGridOptions" ui-grid-edit ui-grid-selection></div>
                <button class="btn" ng-click="refreshEPlans()">Обновить список</button>
            </div>
            <div class="list_tPlans">
                <h4>Дисциплины</h4>
                <div>
                    <label for="name">Наименование:</label><input type="text" id="name" ng-model="newDiscipline.name"/>
                    <label for="theory">Теории:</label><input type="text" id="theory" ng-model="newDiscipline.theory"/>
                    <label for="practice">Практики:</label><input type="text" id="practice" ng-model="newDiscipline.practice"/>
                    <label for="personal">СРС:</label><input type="text" id="personal" ng-model="newDiscipline.personal"/>
                </div>
                <button class="btn" ng-click="addTPlan()">Добавить новую дисциплину</button>
                <button class="btn" ng-click="deleteTPlan()">Удалить дисциплину</button>
                <a href="{{tPlanLink}}" target="_blank">Перейти к тематическому плану</a>
                <div class="tPlanGrid" ui-grid="tPlanGridOptions" ui-grid-edit ui-grid-selection></div>
            </div>
        </div>
    </wicket:panel>
</body>
</html>