<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <wicket:head>
        <link rel="stylesheet" lang="text/css" href="/css/GroupManager.css"/>
        <link rel="stylesheet" lang="text/css" href="/css/ng-grid.css"/>
        <script src="/js/angular.min.js" language="JavaScript"></script>
        <script src="/js/ng-grid.js" language="JavaScript"></script>
        <script src="/js/Utils.js" language="JavaScript"></script>
        <script src="/js/DataSources.js" language="JavaScript"></script>
        <script src="/js/GroupManager.js" language="JavaScript"></script>
    </wicket:head>
</head>
<body>
    <wicket:panel ng-app="GroupManager" ng-controller="GroupController">
        <h4>Группы</h4>
        <div>
            <label for="name">Код группы</label><input type="text" id="name" ng-model="newGroup.name"/>
            <button class="btn" ng-click="addGroup()">Создать группу</button>
            <div class="list_ePlans">
                <h4>Учебные планы</h4>
                <div class="ePlanGrid" ui-grid="ePlanGridOptions" ui-grid-selection></div>
            </div>
        </div>
        <button class="btn" ng-click="deleteGroup()">Удалить выбранную группу</button>
        <div>
            <label for="newName">Код группы</label><input type="text" id="newName" ng-model="newName"/>
            <button class="btn" ng-click="renameGroup()">Переименовать группу</button>
        </div>
        <div class="groupGrid" ui-grid="groupGridOptions" ui-grid-selection></div>
    </wicket:panel>
</body>
</html>