<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/omtit-tools/css/KTPlanPrint.css"/>
    <script src="/omtit-tools/angular.min.js" language="JavaScript"></script>
    <script src="/omtit-tools/ng-grid.js" language="JavaScript"></script>
    <script src="/omtit-tools/Utils.js" language="JavaScript"></script>
    <script src="/omtit-tools/DataSources.js" language="JavaScript"></script>
    <script src="/omtit-tools/KTPlanPrintPage.js" language="JavaScript"></script>
    <title>На печать</title>
</head>
<body ng-app="KTPlanPrint" ng-controller="KTPlanPrintController">
<div class="header">Календарный план рабочей программы учебной дисциплины<br/>
<b>&laquo;<span id="unit-name">{{currentDiscipline.name}}</span></b><br/>
по специальности <span id="speciality_code">{{currentEPlan.speciality}}</span>
</div>
<table>
    <thead>
        <tr class="table-header">
            <td class="header-index">№ п/п</td>
            <td class="header-name">Наименование</td>
            <td class="header-classroom">Количество аудиторных часов</td>
            <td class="header-practice">из них практика, час</td>
        </tr>
        <tr class="table-header">
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
    </thead>
    <tbody ng-repeat="row in tableRows | orderBy:'-position':true">
        <tr class="table-data" ng-if="row.type == 'empty-part'">
            <td class="part-name-cell" colspan="2">{{row.name}}</td>
            <td class="numeric-cell-bold">{{row.total}}</td>
            <td class="numeric-cell-bold">{{row.practice}}</td>
        </tr>

        <tr class="table-data" ng-if="row.type == 'full-part'">
            <td class="part-name-cell" colspan="2">{{row.name}}</td>
            <td class="numeric-cell"><!--empty--></td>
            <td class="numeric-cell"><!--empty--></td>
        </tr>
        <tr ng-repeat="item in row.items | orderBy:'-position':true">
            <td class="index-cell">{{item.index}}</td>
            <td class="theme-name-cell" ng-if="item.type == 'full-theme'">{{item.name}}</td>
            <td class="numeric-cell" ng-if="item.type == 'full-theme'"><!--empty--></td>
            <td class="numeric-cell" ng-if="item.type == 'full-theme'"><!--empty--></td>

            <td class="activity-name-cell" ng-if="item.type == 'activity'">{{item.name}}</td>
            <td class="numeric-cell" ng-if="item.type == 'activity'">{{item.total}}</td>
            <td class="numeric-cell" ng-if="item.type == 'activity'">{{item.practice}}</td>

            <td class="theme-name-cell" ng-if="item.type == 'empty-theme'">{{item.name}}</td>
            <td class="numeric-cell" ng-if="item.type == 'empty-theme'">{{item.total}}</td>
            <td class="numeric-cell" ng-if="item.type == 'empty-theme'">{{item.practice}}</td>
        </tr>
        <tr class="table-data" ng-if="row.type == 'full-part'">
            <td class="part-name-cell" colspan="2">Итого по разделу:</td>
            <td class="numeric-cell-bold">{{row.total}}</td>
            <td class="numeric-cell-bold">{{row.practice}}</td>
        </tr>
    </tbody>
    <tfoot>
    <tr class="table-footer">
        <td class="footer-name" colspan="2">Итого по дисциплине:</td>
        <td class="numeric-cell-bold">{{currentDiscipline.total}}</td>
        <td class="numeric-cell-bold">{{currentDiscipline.practice}}</td>
    </tr>
    </tfoot>
</table>
</body>
</html>