<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <wicket:head>
        <link rel="stylesheet" lang="text/css" href="/css/ng-grid.css"/>
        <script src="/js/angular.min.js" language="JavaScript"></script>
        <script src="/js/ng-grid.js" language="JavaScript"></script>
        <script src="/js/Utils.js" language="JavaScript"></script>
        <script src="/js/DataSources.js" language="JavaScript"></script>
        <script src="/js/StudentManager.js" language="JavaScript"></script>
    </wicket:head>
</head>
<body>
    <wicket:panel ng-app="StudentManager" ng-controller="StudentController">
        <h4>Студенты</h4>
        <div>
            <label for="name">ФИО</label><input type="text" id="name" ng-model="newStudent.name"/>
            <label for="birthDate">Дата рождения</label><input type="date" id="birthDate" ng-model="newStudent.birthDate"/>
            <label for="address">Адрес</label><input type="text" id="address" ng-model="newStudent.address"/>
            <label for="education">Образование</label><input type="text" id="education" ng-model="newStudent.education"/>
            <label for="source_org">Организация</label><input type="text" id="source_org" ng-model="newStudent.sourceOrg"/>
            <button class="btn" ng-click="addStudent()">Создать студента</button>
        </div>
        <div class="studentGrid" ui-grid="studentGridOptions" ui-grid-selection ui-grid-edit></div>
        <h4>История студента</h4>
        <div>
            <div class="historyGrid" ui-grid="historyGridOptions"></div>
            <a href="/student-send-down?id={{selectedStudent.id}}">Отчислить из группы</a>
            <a href="/student-enroll?id={{selectedStudent.id}}">Зачислить в группу</a>
        </div>
    </wicket:panel>
</body>
</html>