<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <wicket:head>
        <link rel="stylesheet" lang="text/css" href="/css/EPlanManager.css"/>
        <link rel="stylesheet" lang="text/css" href="/css/ng-grid.css"/>
        <script src="/js/angular.min.js" language="JavaScript"></script>
        <script src="/js/ng-grid.js" language="JavaScript"></script>
        <script src="/js/Utils.js" language="JavaScript"></script>
        <script src="/js/DataSources.js" language="JavaScript"></script>
        <script language="JavaScript" src="/js/TPlanManager.js"></script>
    </wicket:head>
</head>
<body>
    <wicket:panel>
        <div ng-app="TPlanManager" ng-controller="TPlanController">
            <div>
                <h4>Тематический план для дисциплины <span>{{currentDiscipline.name}}</span></h4>
                <button class="btn" ng-click="getTPlan()">Обновить данные о тематическом плане</button>
                <div>теория <span>{{currentDiscipline.theory}}</span></div>
                <div>Практика <span>{{currentDiscipline.practice}}</span></div>
                <div>Контрольные <span>{{currentDiscipline.control}}</span></div>
                <div>СРС <span>{{currentDiscipline.personal}}</span></div>
                <a href="/tplan-print?eplanId={{eplanId}}&disciplineId={{currentDiscipline.id}}" target="_blank">Тематический план на печать</a>
                <a href="/ktplan-print?eplanId={{eplanId}}&disciplineId={{currentDiscipline.id}}" target="_blank">Календарно-тематический план на печать</a>
            </div>
            <div class="list_parts">
                <h4>Разделы</h4>
                <div>
                    <label for="new-part-name">Наименование:</label><input type="text" id="new-part-name" ng-model="newPart.name"/>
                    <label for="new-part-theory">Теории:</label><input type="text" id="new-part-theory" ng-model="newPart.theory"/>
                    <label for="new-part-practice">Практики:</label><input type="text" id="new-part-practice" ng-model="newPart.practice"/>
                    <label for="new-part-personal">СРС:</label><input type="text" id="new-part-personal" ng-model="newPart.personal"/>
                </div>
                <button class="btn" ng-click="addPart()">Добавить раздел</button>
                <button class="btn" ng-click="deletePart()">Удалить выбранный раздел</button>
                <div class="partGrid" ui-grid="partGridOptions" ui-grid-edit ui-grid-selection></div>
                <button class="btn" ng-click="refreshParts()">Обновить список разделов</button>
            </div>
            <div class="list_themes">
                <h4>Темы выбранного раздела</h4>
                <div>
                    <label for="new-theme-name">Наименование:</label><input type="text" id="new-theme-name" ng-model="newTheme.name"/>
                    <label for="new-theme-theory">Теории:</label><input type="text" id="new-theme-theory" ng-model="newTheme.theory"/>
                    <label for="new-theme-practice">Практики:</label><input type="text" id="new-theme-practice" ng-model="newTheme.practice"/>
                    <label for="new-theme-personal">СРС:</label><input type="text" id="new-theme-personal" ng-model="newTheme.personal"/>
                </div>
                <button class="btn" ng-click="addTheme()">Добавить тему</button>
                <button class="btn" ng-click="deleteTheme()">Удалить тему</button>
                <div class="themeGrid" ui-grid="themeGridOptions" ui-grid-edit ui-grid-selection></div>
            </div>
            <div class="list_classes">
                <h4>Занятия выбранной темы</h4>
                <div>
                    <label for="new-activity-name">Наименование:</label><input type="text" id="new-activity-name" ng-model="newActivity.name"/>
                </div>
                <button class="btn" ng-click="deleteActivity()">Удалить занятие</button><br/>
                Добавить:
                <button class="btn" ng-click="addActivity(2,0,0)">лекцию (2 часа теории)</button>
                <button class="btn" ng-click="addActivity(0,2,0)">практическую работу (2 часа практики)</button>
                <button class="btn" ng-click="addActivity(1,1,0)">мастер-класс (1 час теории, 1 час практики</button>
                <button class="btn" ng-click="addActivity(0,0,2)">контрольную работу (2 часа теории)</button>
                <button class="btn" ng-click="addActivity(0,1,1)">контрольное задание (1 час теории, 1 час практики)</button>
                <button class="btn" ng-click="addActivity(1,0,1)">летучку с разбором (2 часа теории)</button>
                <div class="activityGrid" ui-grid="activityGridOptions" ui-grid-edit ui-grid-selection></div>
            </div>
        </div>
    </wicket:panel>
</body>
</html>