<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/omtit-tools/css/TPlanPrint.css"/>
    <script src="/omtit-tools/angular.min.js" language="JavaScript"></script>
    <script src="/omtit-tools/ng-grid.js" language="JavaScript"></script>
    <script src="/omtit-tools/Utils.js" language="JavaScript"></script>
    <script src="/omtit-tools/DataSources.js" language="JavaScript"></script>
    <script src="/omtit-tools/TPlanPrintPage.js" language="JavaScript"></script>
    <title>На печать</title>
</head>
<body ng-app="TPlanPrint" ng-controller="TPlanPrintController">
<div class="header">Тематический план рабочей программы учебной дисциплины<br/>
<b>&laquo;<span id="unit-name">{{currentDiscipline.name}}</span>&raquo;</b><br/>
по специальности <span id="speciality_code">{{currentEPlan.speciality}}</span>
    </div>
<table>
    <thead>
        <tr class="table-header">
            <td rowspan="2" class="header-name">Наименование разделов и тем</td>
            <td colspan="3" class="header-hours">Количество аудиторных часов</td>
        </tr>
        <tr class="table-header">
            <td class="header-hour-column">Всего</td>
            <td class="header-hour-column">Теория</td>
            <td class="header-hour-column">Практика</td>
        </tr>
        <tr class="table-header">
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
    </thead>
    <tbody ng-repeat="row in tableRows | orderBy:'-position':true">
        <tr class="table-data" ng-if="row.type == 'empty-part'">
            <td class="part-name-cell">{{row.name}}</td>
            <td class="numeric-cell-bold">{{row.total}}</td>
            <td class="numeric-cell-bold">{{row.idle}}</td>
            <td class="numeric-cell-bold">{{row.practice}}</td>
        </tr>
        <tr class="table-data" ng-if="row.type == 'full-part'">
            <td class="part-name-cell">{{row.name}}</td>
            <td class="numeric-cell"><!--empty--></td>
            <td class="numeric-cell"><!--empty--></td>
            <td class="numeric-cell"><!--empty--></td>
        </tr>
        <tr ng-repeat="theme in row.themes | orderBy:'-position':true" ng-if="row.type == 'full-part'">
            <td class="theme-name-cell">{{theme.name}}</td>
            <td class="numeric-cell">{{theme.total}}</td>
            <td class="numeric-cell">{{theme.idle}}</td>
            <td class="numeric-cell">{{theme.practice}}</td>
        </tr>
        <tr class="table-data" ng-if="row.type == 'full-part'">
            <td class="part-name-cell">Итого по разделу:</td>
            <td class="numeric-cell-bold">{{row.total}}</td>
            <td class="numeric-cell-bold">{{row.idle}}</td>
            <td class="numeric-cell-bold">{{row.practice}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="table-footer">
            <td class="footer-name">Итого по дисциплине:</td>
            <td class="numeric-cell-bold">{{currentDiscipline.total}}</td>
            <td class="numeric-cell-bold">{{currentDiscipline.idle}}</td>
            <td class="numeric-cell-bold">{{currentDiscipline.practice}}</td>
        </tr>
    </tfoot>
</table>
</body>
</html>