<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <wicket:head>
        <link rel="stylesheet" lang="text/css" href="/css/TutorManager.css"/>
        <link rel="stylesheet" lang="text/css" href="/css/ng-grid.css"/>
        <script src="/js/angular.min.js" language="JavaScript"></script>
        <script src="/js/ng-grid.js" language="JavaScript"></script>
        <script src="/js/Utils.js" language="JavaScript"></script>
        <script src="/js/DataSources.js" language="JavaScript"></script>
        <script src="/js/TutorManager.js" language="JavaScript"></script>
    </wicket:head>
</head>
<body>
    <wicket:panel ng-app="TutorSchedule" ng-controller="TutorController">
        <h4>Преподаватели</h4>
        <div class="list_tutors">
            <div>
                <lavel for="new-tutor-name"/><input type="text" id="new-tutor-name" ng-model="newTutor.name"/>
            </div>
            <button class="btn" ng-click="addTutor()">Добавить преподавателя</button>
            <div class="tutorGrid" ui-grid="tutorGridOptions" ui-grid-selection ui-grid-edit></div>
            <button class="btn" ng-click="refreshTutors()">Обновить список преподавателей</button>
        </div>
    </wicket:panel>
</body>
</html>