.group {
	padding: 5px;
	margin:5px;
	border-radius:5px;
	background-color:lightgray;
	overflow:auto;
}

.activity {
	margin:5px 5px 5px 20px;
	padding:5px;
	background-color:white;
	border-radius:5px;
}

.headerBlock div{
	float:left;
	margin:5px;
}
.headerBlock div span {
	font-weight:bold;
	margin:0px 5px 0px 5px;
}

.headerBlock input{
	float:left;
	margin:5px;
}