@page {
    margin: 0;
}
body {
    margin: 1.27cm;
    width: 17.63cm;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
.header {
    text-align:center;
}
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
table, tr, td {
    border: 1px solid black;
}
td {
    padding-left: 3px;
    padding-right: 3px;
}
.table-header {
    text-align: center;
    font-weight: bold;
}
.header-index {
    width: 30px;
}
.header-name {

}
.header-practice {
    width: 60px;
}
.header-classroom {
    width: 60px;
}
.part-name-cell {
    font-weight: bold;
}
.theme-name-cell {
    text-align: left;
}
.activity-name-cell {
    text-align: right;
}
.numeric-cell-bold {
    font-weight: bold;
    text-align: center;
}
.footer-name {
    font-weight: bold;
}
.numeric-cell {
    text-align:center;
}