body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background:url(/images/back.PNG);
}
.content_header {
    background: url(/images/header.jpg) no-repeat;
    height:340px;
}

.navigation_panel {
    background: url(/images/desk2.jpg) no-repeat;
    padding-left:40px;
    height:51px;
}

.navigation_panel ul, .navigation_panel ul li {
    display:inline-block;
}
.navigation_panel ul {
    margin:0px;
}
.navigation_panel li {
    height:30px;
    margin: 0px 5px 0px 0px;
}

.navigation_panel li a {
    color:#000000;
    text-decoration: none;
    font-weight:bold;
}
.navigation_panel li a:hover {
    color:#9CAEC9;
}

.sidebar {
    float:right;
    width:252px;
    background: url(/images/sidebg.jpg) repeat-y;
}

.top_sidebar {
    background:url(/images/side_top.jpg) no-repeat;
    height:15px;
}

.sidebar_content {
    margin-right:auto;
    margin-left:auto;
    width:200px;
}

.bottom_sidebar {
    background:url(/images/side_btm.jpg) no-repeat;
    height:13px;
}

.content {
    background:url(/images/desk.jpg) repeat-y;
    width:990px;
    min-height: 600px;
}