@page {
    margin : 0;
}
body {
    margin: 1.27cm;
    width: 17.63cm;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
.header {
    text-align: center;
}
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
table, tr, td{
    border: 1px solid black;
}
td {
    padding-left: 3px;
    padding-right: 3px;
}
.table-header {
    text-align: center;
    font-weight: bold;
}
.header-name {
    width: 450px;
}
.header-hours {
    width: 255px;
}
.header-hour-column {
    width: 85px;
}
.numeric-cell {
    text-align: center;
    width: 85px;
}
.numeric-cell-bold {
    text-align: center;
    font-weight: bold;
    width: 85px;
}
.part-name-cell {
    font-weight: bold;
    width: 450px;
}
.theme-name-cell {
    width: 450px;
}
.footer-name {
    font-weight: bold;
    width: 450px;
}